<!DOCTYPE html>
	<html lang="en">
	  <head>
	    <title>Add New Show</title>
	    <link rel="stylesheet" href="/index.css">

	  </head>

	  <body>
	    <h2>Add New Show</h2>


	    <form action="/television_shows/new" method="post">
	      <label for="tv_title">Title</label>
	      <input type="text" id="tv_title" name="tv_show[title]" placeholder="Enter TV Show Title" value="<%= tv_show.title  %>"><span> *required </span>
	        <br>
	        <br>
          <label for="network">Network</label>
  	      <input type="text" id="network" name="tv_show[network]" placeholder="Enter TV Show Network" value="<%= tv_show.network %>"><span> *required </span>
	        <br>
	        <br>
          <label for="starting_year">Starting Year</label>
          <input type="text" id="starting_year" name="tv_show[starting_year]" placeholder="Enter TV Show Starting Year" value="<%= tv_show.starting_year %>"><span> *required </span>
          <br>
          <br>
          <label for="synopsis">Synopsis</label>
          <input type="text" id="synopsis" name="tv_show[synopsis]" placeholder="Enter TV Show Synopsis" value="<%= tv_show.synopsis %>"><span> *required </span>
          <br>
          <br>
          <label for="Genre"> Genre </label>
          <select id="Genre" name="tv_show[genre]" >
            <option value= ></option>
            <option value="Action">Action</option>
            <option value="Mystery">Mystery</option>
            <option value="Drama">Drama</option>
            <option value="Comedy">Comedy</option>
            <option value="Fantasy">Fantasy</option>
          </select><span> *required </span>
          <br>
          <br>
	    <input type="submit" value="Add TV Show">
	    </form>
      <p><% if tv_show.errors? %><% puts %>*<%= tv_show.errors.first %><% end %></p>

	  </body>
	</html>
